/* Reset & Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background: #fdfdfd;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between; /* Logo left, menu right */
  align-items: center;
}

.logo {
  height: 60px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: #004c97;
  font-weight: 600;
  font-style: italic
}

/* Dropdown */
nav .dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .dropdown-menu li {
  padding: 8px 20px;
}

nav .dropdown-menu a {
  color: #004c97;
}


/* Hero */
.hero {
  background: linear-gradient(120deg, #b3e5fc, #fffde7);
  text-align: center;
  padding: 80px 20px;
  border-bottom: 4px solid #fbc02d;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #004c97;
}

.hero p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: auto;
}

/* Buttons */
.buttons {
  text-align: center;
  padding: 50px 20px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 25px;
  background: #fbc02d;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #004c97;
}

/* Free Download */
.free-download {
  background: #ffecb3;
  padding: 60px 20px;
  text-align: center;
}

.free-download h2 {
  margin-bottom: 15px;
  color: #004c97;
}

.download-image {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}



/* Footer */
footer {
  background: #004c97;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
